apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: blog-postgres
  namespace: cmp-dev
spec:
  instances: 1
  
  postgresql:
    parameters:
      max_connections: "100"
      shared_buffers: "256MB"
  
  storage:
    size: 5Gi
    storageClass: local-path
  
  bootstrap:
    initdb:
      database: blog_db
      owner: blog_user
  
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"